[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
sklearn = "*"
matplotlib = "*"
flask = "*"
flask-cors = "*"
fastapi = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
